body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

HTML {
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.data-container {
    position: relative;
    margin-left: 1rem;
    overflow: hidden;
}

.app {
}

.app__header {
    text-align: center;
    background-color: #222;
    padding: 20px;
    color: white;
}

.app__title {
    font-size: 1.5em;
}

